* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
  width: 1000px;
  margin: 0 auto;
}

#menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 25px;
  box-shadow: 0px 4px 3px -4px #000;
}

#menu a {
  background-color: #555;
  color: #fff;
  padding: 12px 35px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.8rem;
}

#menu a:hover {
  background-color: #999;
}

/* Layout 01 */
.layout-01 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cabecalho {
  background-color: #ccc;
  padding: 20px;
}

.linha-meio {
  display: flex;
  gap: 10px;
}

.artigos {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.artigo {
  background-color: #aaa;
  padding: 20px;
  height: 100px;
}

.menu-lateral {
  flex: 1;
  background-color: #888;
  padding: 20px;
}

.rodape {
  background-color: #666;
  padding: 30px;
}

/* Layout 02 */
.layout-02 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header2 {
  background-color: #666;
  padding: 20px;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}

.meio {
  display: flex;
  gap: 10px;
}

.menu2 {
  background-color: #aaa;
  padding: 15px;
  width: 150px;
  font-weight: bold;
}

.menu2 button {
  margin: 5px 0;
  padding: 5px 10px;
}

.content2 {
  background-color: #ccc;
  padding: 20px;
  flex: 2;
}

.ads {
  background-color: #bbb;
  padding: 20px;
  width: 120px;
  font-weight: bold;
}

.footer2 {
  background-color: #555;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Layout 03 */
.layout-03 {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 60vh;
  margin-top: 40px;
}

.bar {
  width: 100px;
  background-color: gray;
  color: black;
  font-weight: bold;
  text-align: center;
}